<html lang="en">
    <head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/static/js/jquery.handsontable.full.js"></script>
<!--<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>-->
<link href="/static/css/jquery.handsontable.full.css" type="text/css" media="all" rel="stylesheet" />
<link href="/static/css/samples.css" type="text/css" media="all" rel="stylesheet" />

<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
})
</script>
</head>

<body>
    <script type="text/javascript">
$(document).ready(function () {

  var data = [
    ["", "Maserati", "Mazda", "Mercedes", "Mini", "Mitsubishi"],
    ["2009", 0, 2941, 4303, 354, 5814],
    ["2010", 5, 2905, 2867, 412, 5284],
    ["2011", 4, 2517, 4822, 552, 6127],
    ["2012", 2, 2422, 5399, 776, 4151]
  ];
  
  $('#example2').handsontable({
    data: data,
    minSpareRows: 1,
    colHeaders: true,
    contextMenu: true
  });
  
  function bindDumpButton() {
      $('body').on('click', 'button[name=dump]', function () {
        var dump = $(this).data('dump');
        var $container = $(dump);
        console.log('data of ' + dump, $container.handsontable('getData'));
      });
    }
  bindDumpButton();
  

});
    </script>
    <!-- look to http://stackoverflow.com/questions/10035627/django-reading-array-of-json-objects-from-querydict  for django jquery funkiness--> 
<script>
$(document).ready(function() {
    var $container = $("#example2");
    var handsontable = $container.data('handsontable');
    $('#savesheet').click(function(){
        var json1 = {"doc":[
            {"name":"fred"},
            {"name":"bob"}
            ]
        };
        <!--$.post('/sheets/savesheet/', {'data':handsontable.getData()});-->
        <!--$.post('/sheets/savesheet/', datahandsontable.getData());-->
        <!--$.post('/sheets/savesheet/', json1)-->
        jQuery.ajax ({
            url: '/sheets/savesheet/',
            type: "POST",
            data: {"data": handsontable.getData()},
            <!--data: {data:[handsontable.getData()]},-->
            <!--dataType: "json",-->
            <!--testing-->
            <!--data: {"bullshit":[{'fuck':'this'}]},-->
            <!--data: {name:"John", location: "Boston"},-->
            <!-- send data as a string so python doesnt dict it -->
            <!--data: '{"name":"John", "location": "Boston"}',-->
            <!--data: json1,-->
            <!--data: handsontable.getData(),-->
            <!--TODO: Content type current breaks so left out -->
            <!--contentType: "application/json; charset=utf-8",-->
            <!--success: function(){-->

            <!--double comment this out-->
            <!--data: {'[{"name":4}, {"height":6}]'},-->
                
            <!--}-->
        });
    });
});

</script>

<script>
var $container = $("#example1");
var $console = $("#example1console");
var $parent = $container.parent();
var autosaveNotification;
$container.handsontable({
  startRows: 8,
  startCols: 6,
  rowHeaders: true,
  colHeaders: true,
  minSpareRows: 1,
  contextMenu: true,
  afterChange: function (change, source) {
    if (source === 'loadData') {
      return; //don't save this change
    }
    if ($parent.find('input[name=autosave]').is(':checked')) {
      clearTimeout(autosaveNotification);
      $.ajax({
        url: "json/save.json",
        dataType: "json",
        type: "POST",
        data: change, //contains changed cells' data
        complete: function (data) {
          $console.text('Autosaved (' + change.length + ' cell' + (change.length > 1 ? 's' : '') + ')');
          autosaveNotification = setTimeout(function () {
            $console.text('Changes will be autosaved');
          }, 1000);
        }
      });
    }
  }
});
var handsontable = $container.data('handsontable');

$parent.find('button[name=load]').click(function () {
  $.ajax({
    url: "json/load.json",
    dataType: 'json',
    type: 'GET',
    success: function (res) {
      handsontable.loadData(res.data);
      $console.text('Data loaded');
    }
  });
});

$parent.find('button[name=save]').click(function () {
  $.ajax({
    url: "json/save.json",
    data: {"data": handsontable.getData()}, //returns all cells' data
    dataType: 'json',
    type: 'POST',
    success: function (res) {
      if (res.result === 'ok') {
        $console.text('Data saved');
      }
      else {
        $console.text('Save error');
      }
    },
    error: function () {
      $console.text('Save error. POST method is not allowed on GitHub Pages. Run this example on your own server to see the success message.');
    }
  });
});

$parent.find('input[name=autosave]').click(function () {
  if ($(this).is(':checked')) {
    $console.text('Changes will be autosaved');
  }
  else {
    $console.text('Changes will not be autosaved');
  }
});
</script>


    <h2>Basic usage</h2>
    <div id="example" class="handsontable"></div>
    <h2>Try 2</h2>
    <div id="example2" class="handsontable"></div>
<form>
{% csrf_token %}
</form>
    <button id="savesheet" value="save sheet">Save sheet</button>
<h2>Load &amp; Save (Ajax)</h2>

          <p>Use the
            <b>onChange</b> callback to track changes made in the table. In the example below, $.ajax is used to load
            and save grid data.
          </p>

          <p>Note: this is a mockup. Nothing is acually saved. You have to implement that part server-side.</p>

          <p>
            <button name="load">Load</button>
            <button name="save">Save</button>
            <label><input type="checkbox" name="autosave" checked="checked" autocomplete="off"> Autosave</label>
          </p>

          <pre id="example1console" class="console">Click "Load" to load data from server</pre>

          <div id="example1"></div>

          <p>
            <button name="dump" data-dump="#example1" title="Prints current data source to Firebug/Chrome Dev Tools">
              Dump data to console
            </button>
          </p>
</body>
</html>
